In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [17]:
df = pd.read_csv('/Users/rahul/Documents/iitb_projects/churn/telecom_churn_data.csv')
df.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,0,1.0,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,...,0,NaN,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00
2,7001625959,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.690,...,0,NaN,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.338,...,0,NaN,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,...,0,0.0,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00

In [18]:
# filtering high value customers

In [19]:
class filterHighValueCustomer:
    
    def __init__(self):
        
        self
        
    def filterCustomer(self,df,tol=70):
        
        df = df.copy()
        df['total_rech_data_amt_6'] = df['av_rech_amt_data_6'] * df['total_rech_data_6']
        df['total_rech_data_amt_7'] = df['av_rech_amt_data_7'] * df['total_rech_data_7']
        df['total_rech_data_amt_8'] = df['av_rech_amt_data_8'] * df['total_rech_data_8']
        df['total_rech_data_amt_9'] = df['av_rech_amt_data_9'] * df['total_rech_data_9']

        df.drop(['total_rech_data_6','total_rech_data_7','total_rech_data_8',
              'total_rech_data_9','av_rech_amt_data_6','av_rech_amt_data_7',
              'av_rech_amt_data_8','av_rech_amt_data_9'],axis = 1,inplace = True)
        
        df_av_recharge_6_7 = (df['total_rech_amt_6'].fillna(0) + 
                              df['total_rech_amt_7'].fillna(0) 
                        + df['total_rech_data_amt_6'].fillna(0) 
                              + df['total_rech_data_amt_7'].fillna(0))/2
        
        perc = np.percentile(df_av_recharge_6_7, tol)
        df = df[df_av_recharge_6_7 >= perc]
        
        return df
    
    def MakeChurnColumn(self,df):
        df = df.copy()
        
        df['Churn'] = 0
        churned_customers = df.query('total_og_mou_9 == 0 & total_ic_mou_9 == 0 & vol_2g_mb_9 == 0 &  vol_3g_mb_9 == 0').index
        df.loc[churned_customers,'Churn']=1
        df['Churn'] = df['Churn'].astype('object')
        return df

In [20]:
f = filterHighValueCustomer()

In [21]:
df = f.filterCustomer(df)

In [22]:
df1.shape

(30001, 223)

In [23]:
df = f.MakeChurnColumn(df)

In [24]:
df['Churn'].value_counts(normalize=True)

0    0.918636
1    0.081364
Name: Churn, dtype: float64

In [25]:
#!pip install -U jinja2
from sklearn.model_selection import train_test_split

In [26]:
x_train,x_test,y_train,y_test = train_test_split(df.drop(columns=['Churn']),df['Churn'],
                                                random_state=100,stratify=df['Churn'],
                                                 test_size=0.2)

x_train.shape,x_test.shape,y_train.shape,y_test.shape

((24000, 222), (6001, 222), (24000,), (6001,))

In [27]:
x_train,x_val,y_train,y_val = train_test_split(x_train,y_train,
                                                random_state=100,stratify=y_train,
                                                 test_size=0.2)

x_train.shape,x_val.shape,y_train.shape,y_val.shape

((19200, 222), (4800, 222), (19200,), (4800,))

In [33]:
# import os

# os.system('mkdir -p data/raw')

0

In [215]:
# x_train.drop(columns=dic['dropChurnPhaseColumns'],inplace=True)
# x_test.drop(columns=dic['dropChurnPhaseColumns'],inplace=True)
# x_val.drop(columns=dic['dropChurnPhaseColumns'],inplace=True)

In [218]:
# x_train.to_csv('data/raw/x_train.csv',index=False)
# y_train.to_csv('data/raw/y_train.csv',index=False)

# x_test.to_csv('data/raw/x_test.csv',index=False)
# y_test.to_csv('data/raw/y_test.csv',index=False)

# x_val.to_csv('data/raw/x_val.csv',index=False)
# y_val.to_csv('data/raw/y_val.csv',index=False)

In [36]:
date_columns = x_train.filter(regex='date').columns.to_list()

In [38]:
dic_config = {}
#dic_config['date_columns']=date_columns

In [95]:
def convertToDateTime(x):
    
    x = pd.to_datetime(x)
    return x

In [124]:
xx = x_train.copy()
xx[date_columns] = xx[date_columns].apply(convertToDateTime,raw=True)

In [125]:
# Renaming columns 
dic_rename = {'jun_vbc_3g' : 'vbc_3g_6',
                'jul_vbc_3g' : 'vbc_3g_7',
                'aug_vbc_3g' : 'vbc_3g_8', 
                'sep_vbc_3g' : 'vbc_3g_9'}

#dic_config['rename'] = dic_rename

xx = xx.rename(dic_rename, axis=1)

In [126]:
xx.shape

(19200, 222)

In [127]:
cat_columns = [x for x in xx.columns if (xx[x].nunique()<=30 and xx[x].dtype in 
                                         ['int','float'] and xx[x].nunique() != 1 ) ]

single_value_columns = [x for x in xx.columns if xx[x].nunique() == 1]

In [128]:
# dic_config['categorical'] = cat_columns
# dic_config['drop'] = single_value_columns

In [119]:
#dropping single value customers
#xx.drop(columns=single_value_columns,inplace=True)

In [136]:
xx.drop(columns=dic_config['drop']+dic_config['dropChurnPhaseColumns'],inplace=True)

In [134]:
#dic_config['dropChurnPhaseColumns'] = list(dic_config['dropChurnPhaseColumns'])

In [138]:
# change datatype of columns with less than 30 unique to object

# dic_config['categorical'] = list(set(dic_config['categorical'])- 
#                      set(['monthly_2g_9', 'sachet_2g_9', 'monthly_3g_9', 'sachet_3g_9']))

xx[dic_config['categorical']] = xx[dic_config['categorical']].astype('O')

In [26]:
# missing values

In [58]:
# droping columns with more than 40% missing
#drop_col = [x for x in xx.columns if xx[x].isnull().mean()>0.40]

In [60]:
# dic_config['drop'].extend(drop_col)
# dic_config['drop']

['circle_id',
 'loc_og_t2o_mou',
 'std_og_t2o_mou',
 'loc_ic_t2o_mou',
 'last_date_of_month_6',
 'last_date_of_month_7',
 'last_date_of_month_8',
 'last_date_of_month_9',
 'std_og_t2c_mou_6',
 'std_og_t2c_mou_7',
 'std_og_t2c_mou_8',
 'std_og_t2c_mou_9',
 'std_ic_t2o_mou_6',
 'std_ic_t2o_mou_7',
 'std_ic_t2o_mou_8',
 'std_ic_t2o_mou_9',
 'date_of_last_rech_data_6',
 'date_of_last_rech_data_7',
 'date_of_last_rech_data_8',
 'date_of_last_rech_data_9',
 'max_rech_data_6',
 'max_rech_data_7',
 'max_rech_data_8',
 'max_rech_data_9',
 'count_rech_2g_6',
 'count_rech_2g_7',
 'count_rech_2g_8',
 'count_rech_2g_9',
 'count_rech_3g_6',
 'count_rech_3g_7',
 'count_rech_3g_8',
 'count_rech_3g_9',
 'arpu_3g_6',
 'arpu_3g_7',
 'arpu_3g_8',
 'arpu_3g_9',
 'arpu_2g_6',
 'arpu_2g_7',
 'arpu_2g_8',
 'arpu_2g_9',
 'night_pck_user_6',
 'night_pck_user_7',
 'night_pck_user_8',
 'night_pck_user_9',
 'fb_user_6',
 'fb_user_7',
 'fb_user_8',
 'fb_user_9',
 'total_rech_data_amt_6',
 'total_rech_data_amt_7',
 'total_rech_data_amt_8',
 'total_rech_data_amt_9']

In [139]:
xx.shape

(19200, 164)

In [140]:
# null = np.round(xx.filter(regex='6$').isnull().mean()*100,2)
# null = null.to_frame()
# null

In [64]:
#null_random = ['date_of_last_rech_6']

In [66]:
#col = list(null.index[list((null == 1.80)[0].values)])

In [68]:
#dic_config['nullFillZero']=col

In [141]:
# null = np.round(xx.filter(regex='7$').isnull().mean()*100,2)
# null = null.to_frame()
# null

In [142]:
# null_random.append('date_of_last_rech_7')
# null_random

In [71]:
#col = list(null.index[list((null == 1.78)[0].values)])

In [73]:
#dic_config['nullFillZero'].extend(col)

In [143]:
# null = np.round(xx.filter(regex='8$').isnull().mean()*100,2)
# null = null.to_frame()
# null

In [75]:
# null_random.append('date_of_last_rech_8')
# null_random

['date_of_last_rech_6', 'date_of_last_rech_7', 'date_of_last_rech_8']

In [76]:
#col = list(null.index[list((null == 3.94)[0].values)])

In [78]:
#dic_config['nullFillZero'].extend(col)

In [82]:
#dic_config['nullFillMode']=null_random

In [80]:
# dropping columns releted to 9th month

# churn_phase_columns = xx.filter(regex='9$').columns
# #df.drop(columns=churn_phase_columns, inplace=True)
# dic_config['dropChurnPhaseColumns']=churn_phase_columns

In [144]:
# dic_config['drop'].extend(['mobile_number'])
# dic_config['drop']

In [85]:
#c = pd.read_csv('data/raw/x_train.csv')

In [145]:
# import yaml

# with open('config2.yaml','w') as f:
#     yaml.safe_dump(dic_config,f)

In [186]:
with open('config2.yaml','r') as f:
     dic = yaml.safe_load(f)

In [178]:
xx = x_train.copy()
xx.shape

(19200, 222)

In [179]:
xx.drop(columns = dic['drop']+dic['dropChurnPhaseColumns'],inplace=True)
xx.shape

(19200, 127)

In [200]:
dic['rename']

{'aug_vbc_3g': 'vbc_3g_8', 'jul_vbc_3g': 'vbc_3g_7', 'jun_vbc_3g': 'vbc_3g_6'}

In [202]:
xx.rename(columns=dic['rename'],inplace=True)

In [204]:
xx[dic['rename'].values()]

       vbc_3g_8  vbc_3g_7  vbc_3g_6
25836      0.00      0.00      0.00
87136      0.00      0.00      0.00
58063      0.00      0.00      0.00
70557      0.00      0.00      0.00
85963      0.00      0.00      0.00
...         ...       ...       ...
66275      0.00      0.00      0.00
33778      0.00      0.00      0.00
73946      0.00      0.00      0.00
15831      0.00      0.00      0.00
80852    291.69   1345.92   3230.94

[19200 rows x 3 columns]

In [182]:
def convertToDateTime(x):
    
    x = pd.to_datetime(x)
    return x

#xx[dic['date_columns']] = xx[dic['date_columns']].apply(convertToDateTime)

In [187]:
xx[dic['categorical']] = xx[dic['categorical']].astype('O')

In [189]:
num = [x for x in xx.columns if (xx[x].dtype == 'float64' or xx[x].dtype == 'int64')]

In [193]:
dic['numerical']=num

In [206]:
from sklearn.base import BaseEstimator,TransformerMixin

In [248]:
class dropAndRenameColumns(BaseEstimator,TransformerMixin):
    
    def __init__(self,features,features_rename,categorical):
        
        super().__init__()
        self.features = features
        self.features_rename = features_rename
        self.categorical = categorical
        
    def fit(self,df):
        
        return self
    
    
    def transform(self,df):
        
        x = df.copy()
        x = x.rename(columns= self.features_rename)
        x[self.categorical]= x[self.categorical].astype('O')
        x.drop(columns= self.features,inplace=True)
        return x

In [270]:
with open('config2.yaml','r') as f:
     dic = yaml.safe_load(f)
        
x_train = pd.read_csv('data/raw/x_train.csv')
x_train.shape

(19200, 168)

In [271]:
d = dropAndRenameColumns(features=dic['drop'],features_rename=dic['rename'],
                        categorical=dic['categorical'])
xx = x_train.copy()
xx = d.fit_transform(xx)
xx.shape

(19200, 127)

In [272]:
xx[dic['categorical']].dtypes

monthly_3g_6           object
monthly_2g_7           object
monthly_2g_8           object
sachet_2g_6            object
sachet_3g_7            object
monthly_3g_8           object
monthly_2g_6           object
sachet_3g_8            object
sachet_3g_6            object
monthly_3g_7           object
date_of_last_rech_6    object
date_of_last_rech_7    object
date_of_last_rech_8    object
dtype: object

In [273]:
class createFeatures(BaseEstimator,TransformerMixin):
    
    def __init__(self):
        
        super().__init__()
        self
        
    def fit(self,df):
        
        return self
    
    
    def transform(self,df):
        
        xx = df.copy()
        
        # Derived variables to measure change in usage 

        # Usage 
        xx['delta_vol_3g'] = xx['vol_3g_mb_8'] - xx['vol_3g_mb_6']\
                                .add(xx['vol_3g_mb_7']).div(2)
        
        xx['delta_total_og_mou'] = xx['total_og_mou_8'] - xx['total_og_mou_6']\
                                        .add(xx['total_og_mou_7']).div(2)
        
        xx['delta_total_ic_mou'] = xx['total_ic_mou_8'] - xx['total_ic_mou_6']\
                                    .add(xx['total_ic_mou_7']).div(2)
        
        xx['delta_vbc_3g'] = xx['vbc_3g_8'] - xx['vbc_3g_6'].add(xx['vbc_3g_7']).div(2)

        # Revenue 
        xx['delta_arpu'] = xx['arpu_8'] - xx['arpu_6'].add(xx['arpu_7']).div(2)
        xx['delta_total_rech_amt'] = xx['total_rech_amt_8'] - \
                                xx['total_rech_amt_6'].add(xx['total_rech_amt_7']).div(2)
        
        
        
        xx.drop(columns=[
                 'vol_2g_mb_8', 'vol_2g_mb_6', 'vol_2g_mb_7','vol_3g_mb_8'  ,
            'vol_3g_mb_6', 'vol_3g_mb_7' ,
            'total_og_mou_8','total_og_mou_6', 'total_og_mou_7', 
            'total_ic_mou_8','total_ic_mou_6', 'total_ic_mou_7',
            'vbc_3g_8','vbc_3g_6','vbc_3g_7','arpu_8','arpu_6','arpu_7',
            'total_rech_amt_8', 'total_rech_amt_6', 'total_rech_amt_7'
    
            ], inplace=True)
        
        return xx

In [274]:
m = createFeatures()
xx = m.fit_transform(xx)
xx.shape

(19200, 112)

In [275]:
num2 = [x for x in xx.columns if xx[x].dtype != 'O']

In [278]:
#dic['numerical'] = num2
# with open('config3.yaml','w') as f:
#      yaml.safe_dump(dic,f)

In [279]:
class sklearnWrapper(BaseEstimator,TransformerMixin):
    
    def __init__(self,features,transformer):
        super().__init__()
        
        self.features = features
        self.transformer = transformer
        
    def fit(self,df):
        x = df.copy()
        self.transformer.fit(x[self.features])
        
        return self
    
    def transform(self,df):
        x = df.copy()
        x[self.features] = self.transformer.transform(x[self.features])
        
        return x

In [280]:
from sklearn.impute import SimpleImputer

In [283]:
t = sklearnWrapper(features=dic['nullFillZero'],
                   transformer=SimpleImputer(strategy='constant',fill_value=0) )

In [287]:
pd.set_option('display.max_rows',130)
xx.isnull().mean()

onnet_mou_6             0.018021
onnet_mou_7             0.017760
onnet_mou_8             0.039375
offnet_mou_6            0.018021
offnet_mou_7            0.017760
offnet_mou_8            0.039375
roam_ic_mou_6           0.018021
roam_ic_mou_7           0.017760
roam_ic_mou_8           0.039375
roam_og_mou_6           0.018021
roam_og_mou_7           0.017760
roam_og_mou_8           0.039375
loc_og_t2t_mou_6        0.018021
loc_og_t2t_mou_7        0.017760
loc_og_t2t_mou_8        0.039375
loc_og_t2m_mou_6        0.018021
loc_og_t2m_mou_7        0.017760
loc_og_t2m_mou_8        0.039375
loc_og_t2f_mou_6        0.018021
loc_og_t2f_mou_7        0.017760
loc_og_t2f_mou_8        0.039375
loc_og_t2c_mou_6        0.018021
loc_og_t2c_mou_7        0.017760
loc_og_t2c_mou_8        0.039375
loc_og_mou_6            0.018021
loc_og_mou_7            0.017760
loc_og_mou_8            0.039375
std_og_t2t_mou_6        0.018021
std_og_t2t_mou_7        0.017760
std_og_t2t_mou_8        0.039375
std_og_t2m_mou_6        0.018021
std_og_t2m_mou_7        0.017760
std_og_t2m_mou_8        0.039375
std_og_t2f_mou_6        0.018021
std_og_t2f_mou_7        0.017760
std_og_t2f_mou_8        0.039375
std_og_mou_6            0.018021
std_og_mou_7            0.017760
std_og_mou_8            0.039375
isd_og_mou_6            0.018021
isd_og_mou_7            0.017760
isd_og_mou_8            0.039375
spl_og_mou_6            0.018021
spl_og_mou_7            0.017760
spl_og_mou_8            0.039375
og_others_6             0.018021
og_others_7             0.017760
og_others_8             0.039375
loc_ic_t2t_mou_6        0.018021
loc_ic_t2t_mou_7        0.017760
loc_ic_t2t_mou_8        0.039375
loc_ic_t2m_mou_6        0.018021
loc_ic_t2m_mou_7        0.017760
loc_ic_t2m_mou_8        0.039375
loc_ic_t2f_mou_6        0.018021
loc_ic_t2f_mou_7        0.017760
loc_ic_t2f_mou_8        0.039375
loc_ic_mou_6            0.018021
loc_ic_mou_7            0.017760
loc_ic_mou_8            0.039375
std_ic_t2t_mou_6        0.018021
std_ic_t2t_mou_7        0.017760
std_ic_t2t_mou_8        0.039375
std_ic_t2m_mou_6        0.018021
std_ic_t2m_mou_7        0.017760
std_ic_t2m_mou_8        0.039375
std_ic_t2f_mou_6        0.018021
std_ic_t2f_mou_7        0.017760
std_ic_t2f_mou_8        0.039375
std_ic_mou_6            0.018021
std_ic_mou_7            0.017760
std_ic_mou_8            0.039375
spl_ic_mou_6            0.018021
spl_ic_mou_7            0.017760
spl_ic_mou_8            0.039375
isd_ic_mou_6            0.018021
isd_ic_mou_7            0.017760
isd_ic_mou_8            0.039375
ic_others_6             0.018021
ic_others_7             0.017760
ic_others_8             0.039375
total_rech_num_6        0.000000
total_rech_num_7        0.000000
total_rech_num_8        0.000000
max_rech_amt_6          0.000000
max_rech_amt_7          0.000000
max_rech_amt_8          0.000000
date_of_last_rech_6     0.002240
date_of_last_rech_7     0.003229
date_of_last_rech_8     0.018958
last_day_rch_amt_6      0.000000
last_day_rch_amt_7      0.000000
last_day_rch_amt_8      0.000000
monthly_2g_6            0.000000
monthly_2g_7            0.000000
monthly_2g_8            0.000000
sachet_2g_6             0.000000
sachet_2g_7             0.000000
sachet_2g_8             0.000000
monthly_3g_6            0.000000
monthly_3g_7            0.000000
monthly_3g_8            0.000000
sachet_3g_6             0.000000
sachet_3g_7             0.000000
sachet_3g_8             0.000000
aon                     0.000000
delta_vol_3g            0.000000
delta_total_og_mou      0.000000
delta_total_ic_mou      0.000000
delta_vbc_3g            0.000000
delta_arpu              0.000000
delta_total_rech_amt    0.000000
dtype: float64

In [308]:
n = t.fit_transform(xx)
n.isnull().mean()

onnet_mou_6             0.000000
onnet_mou_7             0.000000
onnet_mou_8             0.000000
offnet_mou_6            0.000000
offnet_mou_7            0.000000
offnet_mou_8            0.000000
roam_ic_mou_6           0.000000
roam_ic_mou_7           0.000000
roam_ic_mou_8           0.000000
roam_og_mou_6           0.000000
roam_og_mou_7           0.000000
roam_og_mou_8           0.000000
loc_og_t2t_mou_6        0.000000
loc_og_t2t_mou_7        0.000000
loc_og_t2t_mou_8        0.000000
loc_og_t2m_mou_6        0.000000
loc_og_t2m_mou_7        0.000000
loc_og_t2m_mou_8        0.000000
loc_og_t2f_mou_6        0.000000
loc_og_t2f_mou_7        0.000000
loc_og_t2f_mou_8        0.000000
loc_og_t2c_mou_6        0.000000
loc_og_t2c_mou_7        0.000000
loc_og_t2c_mou_8        0.000000
loc_og_mou_6            0.000000
loc_og_mou_7            0.000000
loc_og_mou_8            0.000000
std_og_t2t_mou_6        0.000000
std_og_t2t_mou_7        0.000000
std_og_t2t_mou_8        0.000000
std_og_t2m_mou_6        0.000000
std_og_t2m_mou_7        0.000000
std_og_t2m_mou_8        0.000000
std_og_t2f_mou_6        0.000000
std_og_t2f_mou_7        0.000000
std_og_t2f_mou_8        0.000000
std_og_mou_6            0.000000
std_og_mou_7            0.000000
std_og_mou_8            0.000000
isd_og_mou_6            0.000000
isd_og_mou_7            0.000000
isd_og_mou_8            0.000000
spl_og_mou_6            0.000000
spl_og_mou_7            0.000000
spl_og_mou_8            0.000000
og_others_6             0.000000
og_others_7             0.000000
og_others_8             0.000000
loc_ic_t2t_mou_6        0.000000
loc_ic_t2t_mou_7        0.000000
loc_ic_t2t_mou_8        0.000000
loc_ic_t2m_mou_6        0.000000
loc_ic_t2m_mou_7        0.000000
loc_ic_t2m_mou_8        0.000000
loc_ic_t2f_mou_6        0.000000
loc_ic_t2f_mou_7        0.000000
loc_ic_t2f_mou_8        0.000000
loc_ic_mou_6            0.000000
loc_ic_mou_7            0.000000
loc_ic_mou_8            0.000000
std_ic_t2t_mou_6        0.000000
std_ic_t2t_mou_7        0.000000
std_ic_t2t_mou_8        0.000000
std_ic_t2m_mou_6        0.000000
std_ic_t2m_mou_7        0.000000
std_ic_t2m_mou_8        0.000000
std_ic_t2f_mou_6        0.000000
std_ic_t2f_mou_7        0.000000
std_ic_t2f_mou_8        0.000000
std_ic_mou_6            0.000000
std_ic_mou_7            0.000000
std_ic_mou_8            0.000000
spl_ic_mou_6            0.000000
spl_ic_mou_7            0.000000
spl_ic_mou_8            0.000000
isd_ic_mou_6            0.000000
isd_ic_mou_7            0.000000
isd_ic_mou_8            0.000000
ic_others_6             0.000000
ic_others_7             0.000000
ic_others_8             0.000000
total_rech_num_6        0.000000
total_rech_num_7        0.000000
total_rech_num_8        0.000000
max_rech_amt_6          0.000000
max_rech_amt_7          0.000000
max_rech_amt_8          0.000000
date_of_last_rech_6     0.002240
date_of_last_rech_7     0.003229
date_of_last_rech_8     0.018958
last_day_rch_amt_6      0.000000
last_day_rch_amt_7      0.000000
last_day_rch_amt_8      0.000000
monthly_2g_6            0.000000
monthly_2g_7            0.000000
monthly_2g_8            0.000000
sachet_2g_6             0.000000
sachet_2g_7             0.000000
sachet_2g_8             0.000000
monthly_3g_6            0.000000
monthly_3g_7            0.000000
monthly_3g_8            0.000000
sachet_3g_6             0.000000
sachet_3g_7             0.000000
sachet_3g_8             0.000000
aon                     0.000000
delta_vol_3g            0.000000
delta_total_og_mou      0.000000
delta_total_ic_mou      0.000000
delta_vbc_3g            0.000000
delta_arpu              0.000000
delta_total_rech_amt    0.000000
dtype: float64

In [309]:
t2 = sklearnWrapper(features=dic['nullFillMode'],
                   transformer=SimpleImputer(strategy='most_frequent') )

In [310]:
n = t2.fit_transform(n)

In [311]:
n.isnull().mean()

onnet_mou_6             0.0
onnet_mou_7             0.0
onnet_mou_8             0.0
offnet_mou_6            0.0
offnet_mou_7            0.0
offnet_mou_8            0.0
roam_ic_mou_6           0.0
roam_ic_mou_7           0.0
roam_ic_mou_8           0.0
roam_og_mou_6           0.0
roam_og_mou_7           0.0
roam_og_mou_8           0.0
loc_og_t2t_mou_6        0.0
loc_og_t2t_mou_7        0.0
loc_og_t2t_mou_8        0.0
loc_og_t2m_mou_6        0.0
loc_og_t2m_mou_7        0.0
loc_og_t2m_mou_8        0.0
loc_og_t2f_mou_6        0.0
loc_og_t2f_mou_7        0.0
loc_og_t2f_mou_8        0.0
loc_og_t2c_mou_6        0.0
loc_og_t2c_mou_7        0.0
loc_og_t2c_mou_8        0.0
loc_og_mou_6            0.0
loc_og_mou_7            0.0
loc_og_mou_8            0.0
std_og_t2t_mou_6        0.0
std_og_t2t_mou_7        0.0
std_og_t2t_mou_8        0.0
std_og_t2m_mou_6        0.0
std_og_t2m_mou_7        0.0
std_og_t2m_mou_8        0.0
std_og_t2f_mou_6        0.0
std_og_t2f_mou_7        0.0
std_og_t2f_mou_8        0.0
std_og_mou_6            0.0
std_og_mou_7            0.0
std_og_mou_8            0.0
isd_og_mou_6            0.0
isd_og_mou_7            0.0
isd_og_mou_8            0.0
spl_og_mou_6            0.0
spl_og_mou_7            0.0
spl_og_mou_8            0.0
og_others_6             0.0
og_others_7             0.0
og_others_8             0.0
loc_ic_t2t_mou_6        0.0
loc_ic_t2t_mou_7        0.0
loc_ic_t2t_mou_8        0.0
loc_ic_t2m_mou_6        0.0
loc_ic_t2m_mou_7        0.0
loc_ic_t2m_mou_8        0.0
loc_ic_t2f_mou_6        0.0
loc_ic_t2f_mou_7        0.0
loc_ic_t2f_mou_8        0.0
loc_ic_mou_6            0.0
loc_ic_mou_7            0.0
loc_ic_mou_8            0.0
std_ic_t2t_mou_6        0.0
std_ic_t2t_mou_7        0.0
std_ic_t2t_mou_8        0.0
std_ic_t2m_mou_6        0.0
std_ic_t2m_mou_7        0.0
std_ic_t2m_mou_8        0.0
std_ic_t2f_mou_6        0.0
std_ic_t2f_mou_7        0.0
std_ic_t2f_mou_8        0.0
std_ic_mou_6            0.0
std_ic_mou_7            0.0
std_ic_mou_8            0.0
spl_ic_mou_6            0.0
spl_ic_mou_7            0.0
spl_ic_mou_8            0.0
isd_ic_mou_6            0.0
isd_ic_mou_7            0.0
isd_ic_mou_8            0.0
ic_others_6             0.0
ic_others_7             0.0
ic_others_8             0.0
total_rech_num_6        0.0
total_rech_num_7        0.0
total_rech_num_8        0.0
max_rech_amt_6          0.0
max_rech_amt_7          0.0
max_rech_amt_8          0.0
date_of_last_rech_6     0.0
date_of_last_rech_7     0.0
date_of_last_rech_8     0.0
last_day_rch_amt_6      0.0
last_day_rch_amt_7      0.0
last_day_rch_amt_8      0.0
monthly_2g_6            0.0
monthly_2g_7            0.0
monthly_2g_8            0.0
sachet_2g_6             0.0
sachet_2g_7             0.0
sachet_2g_8             0.0
monthly_3g_6            0.0
monthly_3g_7            0.0
monthly_3g_8            0.0
sachet_3g_6             0.0
sachet_3g_7             0.0
sachet_3g_8             0.0
aon                     0.0
delta_vol_3g            0.0
delta_total_og_mou      0.0
delta_total_ic_mou      0.0
delta_vbc_3g            0.0
delta_arpu              0.0
delta_total_rech_amt    0.0
dtype: float64

In [301]:
from feature_engine.encoding import RareLabelEncoder
from feature_engine.outliers import Winsorizer
from sklearn.preprocessing import StandardScaler
from feature_engine.encoding import OneHotEncoder

In [312]:
rare = RareLabelEncoder(tol=0.01,n_categories=3,variables=dic['categorical'])

In [298]:
xx[dic['categorical']].nunique()

monthly_3g_6           12
monthly_2g_7            6
monthly_2g_8            6
sachet_2g_6            29
sachet_3g_7            26
monthly_3g_8           11
monthly_2g_6            5
sachet_3g_8            26
sachet_3g_6            24
monthly_3g_7           12
date_of_last_rech_6    30
date_of_last_rech_7    31
date_of_last_rech_8    31
dtype: int64

In [313]:
n = rare.fit_transform(n)
n[dic['categorical']].nunique()

monthly_3g_6            4
monthly_2g_7            4
monthly_2g_8            4
sachet_2g_6             9
sachet_3g_7             4
monthly_3g_8            4
monthly_2g_6            4
sachet_3g_8             4
sachet_3g_6             4
monthly_3g_7            4
date_of_last_rech_6    16
date_of_last_rech_7    16
date_of_last_rech_8    14
dtype: int64

In [314]:
one = OneHotEncoder(drop_last=True,variables=dic['categorical'])
n = one.fit_transform(n)

In [317]:
out = Winsorizer(capping_method='gaussian',tail='both',fold=3,variables=dic['numerical'])
n =out.fit_transform(n)

In [318]:
scale = sklearnWrapper(features=dic['numerical'],transformer=StandardScaler())
n = scale.fit_transform(n)

In [1]:
from pipeline import pipeline

In [4]:
#x_train = pd.read_csv('../data/raw/x_train.csv')
#x_test = pd.read_csv('../data/raw/x_test.csv')
#x_val = pd.read_csv('../data/raw/x_val.csv')

In [5]:

#x_train = pipeline.fit_transform(x_train)
# x_test = pipeline.transform(x_test)
# x_val = pipeline.transform(x_val)

In [6]:
# import joblib

# joblib.dump(pipeline,'pipeline_v1.pkl')

['pipeline_v1.pkl']

In [328]:
#os.mkdir('data/processed')

In [329]:
# x_train.to_csv('data/processed/x_train.csv',index=False)
# x_test.to_csv('data/processed/x_test.csv',index=False)
# x_val.to_csv('data/processed/x_val.csv',index=False)